@import "tailwindcss";


/* Create cutom font family */
@font-face {
  font-family: 'montreal';
  src: url('/fonts/pp-neue-montreal/ppneuemontreal-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'montreal';
  src: url('/fonts/pp-neue-montreal/ppneuemontreal-thin-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'montreal';
  src: url('/fonts/pp-neue-montreal/ppneuemontreal-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'montreal';
  src: url('/fonts/pp-neue-montreal/ppneuemontreal-italic-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'montreal';
  src: url('/fonts/pp-neue-montreal/ppneuemontreal-semibolditalic-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@theme {
  --color-primaryText: #FCFFFF;
  --color-secondaryText: #A0A6B4;
  --color-accentText: #2787F7;
  --color-primaryTextHover: #D4E3E6;
  --color-primaryBackground: #121318;
  --color-secondaryBackground: #181A1E;
  --color-primaryBorder: #1A1A28;
  --color-primaryButton: #2787F7;
  --color-primaryButtonHover: #1E6BCD;
  --font-sans: 'montreal';
}

body {
  background: #121318;
  color: #FCFFFF;
}
